extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Caarlos Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu nunc mattis, dapibus lorem nec, volutpat velit. Duis vulputate consequat justo, id consequat ante lacinia in. Praesent at lorem iaculis justo volutpat suscipit. Etiam condimentum magna at consectetur feugiat. Pellentesque cursus, dui quis condimentum volutpat, massa enim pulvinar lorem, in consequat ipsum magna non felis. In hac habitasse platea dictumst.
                p Praesent eget nulla id nisi scelerisque vulputate. Nam imperdiet vel diam eget tempor. Vestibulum mattis neque eget tortor commodo convallis. Nullam sit amet odio nisl. Nullam in cursus augue, quis sagittis sem. Nam et blandit magna. Duis condimentum dignissim dolor eu lobortis. Maecenas eu nisi lorem.
                p Etiam ut nisl sed tortor faucibus ornare. Mauris convallis, velit non fermentum lacinia, dolor augue tempus turpis, a imperdiet felis massa auctor nibh. Pellentesque odio sapien, pharetra sit amet consectetur eu, placerat sit amet ante. Vestibulum lobortis diam vel felis consectetur, quis commodo arcu sagittis. Donec sem tortor, imperdiet quis erat eget, luctus lobortis dolor.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Etiam ut nisl sed tortor faucibus ornare. Mauris convallis, velit non fermentum lacinia, dolor augue tempus turpis, a imperdiet felis massa auctor nibh.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Etiam ut nisl sed tortor faucibus ornare. Mauris convallis, velit non fermentum lacinia, dolor augue tempus turpis, a imperdiet felis massa auctor nibh.
                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono precio" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precio
                    p Etiam ut nisl sed tortor faucibus ornare. Mauris convallis, velit non fermentum lacinia, dolor augue tempus turpis, a imperdiet felis massa auctor nibh.
                    
                
                